@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/*importa a fonte de letra do site google fonts*/

:root { /*cria variavel reutilizaveis*/
    --cor-primaria: #151515; /*cria variavel de cores reutilizaveis*/
    --cor-secundaria: #AF0404;
    --cor-terciaria: #EDEDED;
    --cor-hover: #444444;

    --fonte-primaria:  "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0; /* altera o espaçamento fora */
    padding: 0; /*altera dentro dos limites do conteúdo*/
    /* overflow: hidden; tira a barra scroll da pagina */
}

body {
    /* height: 100vh;preenche a altura da tela */
    box-sizing: border-box;/*todos os elementos filhos dentro do body não ultrapassem os limites e 
                            os seus próprios tamanhos definidos,  mesmo ao adicionar bordas e paddings.*/
    background-color: var(--cor-primaria);/*Muda a cor de fundo da tela */
    color: var(--cor-terciaria); /*cor de fundo das letras */
}

.cabecalho {
padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex; /*Deixa todos os itens alinhados em linha*/
    align-items: center; /* alinhar os elementos, centralizando-os em relação a si mesmo.*/
    justify-content: space-between;/* divide os espaços disponiveis para cada conteudo dentro do elemento */
    
   
}

.apresentacao__conteudo {
    width: 615px; /* muda a largura*/
    display: flex;
    flex-direction: column ;/* alinhar os elementos na Vertical */
    gap: 40px; /*da uma distancia entre todos os elementos*/
}

.apresentacao__conteudo__titulo {
    font-size: 36px; /* Altera o tamanho da fonte da letra*/
    font-family: var(--fonte-primaria); /*coloca a letra na fonte importada*/
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.titulo-destaque{
    color: var(--cor-secundaria);/*cor de fundo da letra do Strong */
}

.apresentacao__links {
    display: flex; /* coloca os quadrados lado a lado */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria) ;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: #FD2222; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 370px;
    padding: 21.5px 0; /*Altera a distancia top e left. altera a altura left right*/
    text-align: center; /*Centraliza o texto*/
    border-radius: 8px; /*Arredonda o raio da borda*/
    font-size: 24px;
    font-weight: 600; /*muda o peso da fonte de letra*/
    text-decoration: none;/*tira a decoração do texto*/
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-secundaria); /*Cria borda solida*/
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}
